<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="canonical" href="https://demo-basic.adminkit.io/" />
<link rel="stylesheet" href="https://www.w3schools.io/icons/feather-angular/#google_vignette">
<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div class="main">
    <app-topbar ></app-topbar>
    <main class="content">
      <router-outlet>
        
      </router-outlet>
    </main>
  </div>
</div>