<h2 class="d-flex justify-content-center">Total Products</h2>
<div class="container mt-5">
    <table class="table align-content-center">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let item of products">
            <th scope="row" >{{item.id}}</th>
            <td>{{item.first}}</td>
            <td>{{item.last}}</td>
            <td>
                <button routerLink="product/{{item.id}}" class="btn btn-success">View Product</button>
                <button class="btn btn-danger ms-2" routerLink="product/edit/{{item.id}}">Edit Product</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>